body{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
main{
    background-color: green;
}
footer{
    background-color: yellow;
}
nav{
    background-color:blue;
}
header{
    background-color: red;
}